*{
	margin: 0px;
	padding: 0px;
}
img{border: 0px;}
body{
	background-color: #FFFFFF;
}
.test-num{
	height: 50px;
	line-height: 50px;
	color: #999999;
	text-align: center;
	font-size: 28px;
	margin-bottom: 40px;
}
.question{
	width: 70%;
	margin: 0 auto;
	padding-bottom: 30px;
}
.question-item{
	/*float: left;
	width: 20%;*/
}
.question-item img{
	display: block;
	margin: 0 auto;	
	height: 110px;
}
.bor{
	width: 70%;
	margin: 0 auto;
	height: 5px;
	background-color: #999999;
}
.answer{
	width: 70%;
	margin:0 auto;
	padding-top: 30px;
}
.answer-item{
	width: 20%;
	float: left;
	height: 130px;
}
.item-box{
	padding: 5px;
	height: 110px;
	width: 110px;
	margin: 0 auto;
}
.side{
	border: 1px solid #707070 !important;
}
.item-box:hover{
	border: 1px solid #707070;
}
.answer-item img{
	display: block;
	width: 100%;
	height: 100%;
}
.end-time{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 28px;
	color: red;
}
.next{
	text-decoration: none;
	color: #666;
	height: 30px;
	padding: 0px 20px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	background-color: #f0f0f0;
	border-radius: 5px;
	display: block;
	width: 100px;
	margin: 0 auto;
	margin-top: 10px;
	cursor:pointer
}
.end-box{
	display: none;
	width: 70%;
	margin: 50px auto;
}
.end{
	line-height: 30px;
	color: #999;
	font-size: 20px;
}
.right-num{
	line-height: 30px;
	color: red;
	font-size: 20px;
	text-align: center;
}
.go-index{
	text-decoration: none;
	display: block;
	height: 40px;
	width: 120px;
	line-height: 40px;
	margin: 0 auto;
	background-color: #f0f0f0;
	text-align: center;
	text-decoration: none;
	color: #666;
	border-radius: 5px;
	font-weight: bolder;
}
@media only screen and (max-width: 480px) {
	.test-num{
		height: 20px;
		line-height: 20px;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.question{
		width: 90%;
		padding-bottom: 15px;
	}
	.question-item img{
		/*width: 50px;*/
		height: 80px;
	}
	.bor{
		height: 2px;
	}
	.answer{
		width: 90%;
		padding-top: 15px;
	}
	.answer-item{
		height: 80px;
	}
	.item-box{
		height: 50px;
		width: 50px;
		padding: 2px;
	}
	.end-time{
		height: 30px;
		line-height: 30px;
		font-size: 16px;
	}
	.next{
		height: 20px;
		line-height: 20px;
		padding: 0px 10px;
		font-size: 16px;
		width: 60px;
	}
}